body {
    margin: 0;
}

/* img becomes no larger than actual size. */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

#app {
    width: 100%;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

header {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: #010b40; /* very dark blue */
    flex: initial; /* flex: 0 1 auto */
}

nav {
    width: 90%;
    margin: 0;
    padding: 0.25em 5%;
    background: #d5eaf2; /* sky blue */
    border-top: 2px solid #010b40;
    border-bottom: 2px solid #010b40;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: center; /* cross axis */
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    flex: 1; /* needed for sticky footer */
}

aside {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

figure.logo {
    margin: 1em 0 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

@media all and (min-width: 300px) {
    figure.logo {
        width: 30%;
    }
}

@media all and (min-width: 500px) {
    figure.logo {
        width: 25%;
    }
}

figure.full {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

figure.favorite {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* main axis */
    align-items: flex-start; /* cross axis */
}

figure.favorite:hover {
    cursor: pointer;
}

figure.open-close {
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
}

figure.open-close:hover {
    cursor: pointer;
}

ol {
    width: 100%;
}

@media all and (min-width: 300px) {
    ol {
        columns: 1;
    }
}

@media all and (min-width: 460px) {
    ol {
        columns: 2;
    }
}

footer {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #010b40; /* very dark blue */
    flex: initial; /* flex: 0 1 auto */
}

/* FORM ELEMENTS ARE BELOW */
input[type="text"] {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    border: 2px solid #eee;
}

/* VARIOUS "CLASS" ELEMENTS ARE BELOW */
.page-intro {
    width: 90%;
    margin: 0 0 1em;
    padding: 1em 5%;
    background: #d5eaf2; /* sky blue */
    border-bottom: 2px solid #010b40;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; /* main axis */
    align-items: flex-start; /* cross axis */
}

.intro-text {
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
}

@media all and (min-width: 300px) {
    .intro-text {
        width: 60%;
    }
}

@media all and (min-width: 400px) {
    .intro-text {
        width: 65%;
    }
}

@media all and (min-width: 600px) {
    .intro-text {
        width: 70%;
    }
}

.home-page {
    width: 90%;
    margin: 0 0 1em;
    padding: 1em 5%;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* main axis */
    align-items: center; /* cross axis */
}

.search {
    width: 90%;
    margin: 1em 0;
    padding: 0 5% 1em; /* left is 5% */
    background: #bf5d39; /* medium brown */
    flex: initial; /* flex: 0 1 auto */
}

.search-messages {
    width: 90%;
    margin: 0;
    padding: 0 5%;
    flex: initial; /* flex: 0 1 auto */
}

#error-msg {
    display: none;
}

.park {
    width: 90%;
    margin: 1em 0;
    padding: 1em 5%;
    border-bottom: 2px solid #d5eaf2; /* sky blue */
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
}

.park:first-child {
    margin: 0 0 1em;
}

.park:last-child {
    margin: 1em 0 0;
    border-bottom: none;
}

.help-box,
.map-box {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: initial; /* flex: 0 1 auto */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start; /* main axis */
    align-items: flex-start; /* cross axis */
    position: relative;
}

.help-box {
    border-bottom: 2px solid #f5f5f5; /* grey 100 */
}

.help-box-title,
.map-box-title {
    width: 90%;
    margin: 0;
    padding: 0.5em 5%;
    background: #d5eaf2; /* sky blue */
    flex: initial; /* flex: 0 1 auto */
}

.help-box-content,
.map-box-content {
    width: 90%;
    margin: 0;
    padding: 1em 5%;
    background: #fafafa; /* grey 50 */
    flex: initial; /* flex: 0 1 auto */
}

/* TRANSITIONS ARE BELOW */

/* Content slides up and fades in, slides down and fades out */

/* Used on HelpBox.vue and MapBox.vue */
.slide-up-fade-in-out-enter-from {
    opacity: 0;
    transform: translateY(10px);
}

.slide-up-fade-in-out-leave-to {
    opacity: 0;
    transform: translateY(10px);
}

.slide-up-fade-in-out-enter-active,
.slide-up-fade-in-out-leave-active {
    transition: all 1s ease-out;
}

/* FONT & BUTTON STYLES ARE BELOW */
h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
    font-weight: 700;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 0.5em;
    width: 100%;
}

.search h3 {
    color: #fff;
}

p,
input,
li {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.8;
    font-weight: 400;
}

footer p {
    color: #fff;
}

.search-messages p {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.park p {
    margin-top: 0;
}

/* button for nav: By Name, By Region, By State */
button.nav {
    background: none;
    border: none;
    border-radius: 6px;
    flex: initial; /* flex: 0 1 auto */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 600;
}

/* button for homepage: Search by... */
button.large {
    margin: 1em 0;
    padding: 1em 5%;
    background: #bf5d39; /* medium brown */
    border: none;
    border-radius: 6px;
    flex: initial; /* flex: 0 1 auto */
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2;
    font-weight: 600;
}

figcaption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: #616161; /* grey 700 */
}

/* A href styles */
header a {
    color: #fff;
    text-decoration: none;
}

p a {
    color: #0e4996; /* dark blue */
    text-decoration: none;
}

footer p a {
    color: #fff;
}

button.nav a {
    color: #000;
    text-decoration: none;
}

button.large a {
    color: #fff;
    text-decoration: none;
}

button.nav a.router-link-exact-active {
    color: #000;
    text-decoration: underline;
}

/* Hover styles */
header a:hover {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

footer p a:hover {
    text-decoration: underline;
}

button.nav a:hover {
    text-decoration: underline;
}

button.large a:hover {
    text-decoration: underline;
}

/* FONTS MEDIA QUERIES ARE BELOW */
@media all and (min-width: 300px) {
    h1 {
        font-size: 1em;
    }

    h2 {
        font-size: 1em; /* 16px */
    }

    h3 {
        font-size: 0.9375em; /* 15px */
    }

    p,
    input,
    li {
        font-size: 0.875em; /* 14px */
    }

    button.large {
        width: 80%;
        font-size: 0.9375em; /* 15px */
    }

    button.nav {
        font-size: 0.8125em; /* 13px */
    }

    figcaption {
        font-size: 0.75em; /* 12px */
    }
}

@media all and (min-width: 400px) {
    h2 {
        font-size: 1.2em; /* 19.2px */
    }

    h3 {
        font-size: 1em; /* 16px */
    }

    p,
    input,
    li {
        font-size: 0.9375em; /* 15px */
    }

    button.large {
        width: 70%;
        font-size: 1em; /* 16px */
    }

    button.nav {
        font-size: 0.875em; /* 14px */
    }

    figcaption {
        font-size: 0.8125em; /* 13px */
    }
}

@media all and (min-width: 500px) {
    h2 {
        font-size: 1.4em; /* 22.4px */
    }

    h3 {
        font-size: 1.1em; /* 17.6px */
    }

    p,
    input,
    li {
        font-size: 1em; /* 16px */
    }

    button.large {
        width: 60%;
        font-size: 1.1em; /* 17.6px */
    }

    button.nav {
        font-size: 0.875em; /* 14px */
    }

    figcaption {
        font-size: 0.875em; /* 14px */
    }
}

@media all and (min-width: 600px) {
    h2 {
        font-size: 1.6em; /* 25.6px */
    }

    h3 {
        font-size: 1.2em; /* 19.2px */
    }

    p,
    input,
    li {
        font-size: 1.1em; /* 17.6px */
    }

    button.large {
        font-size: 1.2em; /* 19.2px */
    }

    button.nav {
        font-size: 1em; /* 16px */
    }

    figcaption {
        font-size: 0.9375em; /* 15px */
    }
}

/* VARIOUS "CLASSES" FOR FONTS ARE BELOW */

/* makes font red */
.warn {
    color: #d90416; /* dark red */
}

/* makes font light grey */
.subtle {
    color: #616161; /* grey 700 */
}
